body {
    padding: 20px 30%;
    font-family: Arial;
}

input {
    display: block;
    margin: 10px 0px 30px 0px;
}

.debug {
    background: rgb(255, 228, 158);
    padding: 20px;
    margin: 20px 0px;
}
